[Unit]
Description=TradeRS Bot Controller
After=network.target

[Service]
ExecStart=/home/rzanei/dev/tradeRS-bot/target/release/tradeRS-bot
WorkingDirectory=/home/rzanei/dev/tradeRS-bot
Restart=always
RestartSec=5
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target